<phpunit bootstrap="bootstrap.php" stopOnFailure="true" cacheResult="false">
    <testsuites>
        <testsuite name="All">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <file>func.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="report"/>
    </logging>
</phpunit>
