<phpunit bootstrap="bootstrap.php" stopOnFailure="true" cacheResult="false">
    <testsuites>
        <testsuite name="All">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <!--<filter>
        <whitelist>
            <directory>../lib/OurBlog</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="report"/>
    </logging>-->
</phpunit>
